<div class="container text-center">
    <h1>About Page</h1>
    <p>We are CaseStudies, our company focuses on creating an exclusive content
    focusing on strategies for learning from sucessful as well as failed once.</p>
</div>